body {
    margin: 0;
    padding: 0;
    font-family: fantasy;
}

button:hover {
    cursor: pointer;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #000;
}

#header {
    background-color: #009b4e;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
}

#header img {
    width: 130px;
    height: 50px;
}

.container {
    list-style: none;
    margin: 0;
    display: flex;
}

#navigation {
    gap: 40px;
    height: 100%;
}

#navigation li {
    padding: 0;
    align-self: center;
    margin: 0;
}

#navigation li a {
    padding: 0;
    margin: 0;
    height: 100%;
    padding: 31px 0;
}

#navigation > li a:hover {
    border-bottom: 6px solid #000;
    padding: 30px 0;
}

#socials {
    gap: 25px;
}

#login {
    color: #fff;
}

#main-section {
    height: 631px;
    background-color: #000;
    padding: 0;
    margin: 0;
    display: flex;
}

#bottle-img {
    margin: 0;
    align-self: end; 
}

#bottle-info {
    margin: 0;
    color: #fff;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#bottle-info h1 {
    color: #009b4e;
    margin: 0;
}

#bottle-info button {
    background-color: #009b4e;
    color: #fff;
    align-self: flex-start;
    padding: 14px 30px;
    border-style: none;
}

#bottle-info button:hover {
    background-color: #000;
}

#ad-section {
    background-color: #fff;
    margin-top: 45px;
}

#video-section {
    display: flex;
    justify-content: center;
    gap: 60px;
}

#video-section button {
    background-color: #ffd100;
    border-style: none;
    padding: 10px 50px;
}

#video-description button:hover {
    color: #fff;
    background-color: #3e3e3e;
}

#video-description {
    width: 580px;
}

#sprite-description {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    color: #009b4e;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    background-color: #009b4e;
    padding: 30px 0;
}

#footer-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

footer img {
    width: 130px;
    height: 50px;
}

#footer-navigation {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#footer-socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#footer-socials ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

#company-name {
    color: #fff;
}

#company-name:hover {
    text-decoration: underline;
}

#links {
    display: flex;
    gap: 10px;
}
